@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #008F8C, #015958);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #0125258c;
    color: black;
    width: 600px;
    padding: 10px; /* Adiciona um pouco de espaço interno */
    margin: auto; /* Centraliza o main horizontalmente */
}

h1 {
    color: #023535;
    text-align: center;
    text-shadow: 1px 1px 0px black;
}

h2 {
    color: #015958;
}

p {
    text-align: justify;
}